.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#login .content-form{
  width: 350px;
  margin:auto;
  margin-top: 100px
}

ol{
  margin:0px;
}




/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    transition: all 0.3s;
}


#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}


.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}


#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}




a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}


.navbar {
    padding: 15px 10px;
    background: #fff;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

#react-paginate li > a {
    display: inline-block;
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

#react-paginate li a:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

#react-paginate li.active a{
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}


#react-paginate li.disabled a{
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.content-button{
  display: inline-block;
}

.jumbotron-sm{
  padding: 10px
}

.jumbotron{
  border: #dbdbdb solid 1px;
}

.jumbotron-right{
  text-align: right;
}

.list-group-sm .list-group-item{
  padding: 5px;
  font-size: 0.9rem;
}

.contentListGroupSelect{
  /*max-height: 80px;
  overflow-y: scroll;
  */
  margin-bottom: 10px
}

.formTypeResponse{
  
}

.listItemsSelected{
  margin: 0px;
  padding: 0px
}

.listItemsSelected li{
  list-style: none;
}

.listItemsSelected .badge{
  margin-right: 5px;
}


.contFilterList{
  max-height: 80px;
  overflow-y: scroll;
  margin-bottom: 10px
}

.contFilterList .list-group-item{
  padding: 5px;
  font-size: 0.9rem;
}

.contFilterList .list-group-item a{
      line-height: 0.7;
}


.form-control:focus{
  box-shadow: none;
}

.mb-3, .my-3{
  margin-bottom: 0.2rem !important;
}

.log_training{
  background: #282C34;
  text-align: left;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 100px;
  overflow-y: auto;
}

.log_training ul{
   margin:0px;
   list-style: none;
}

.log_training ul li{
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.invalid-feedback-custom{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.valid-feedback-custom{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #28a745;
}


.fade.alert.alert-success.show{
  width: 100%
}

.fade.alert.alert-danger.show{
  width: 100%
}

#login .content-form > button{
  width: 100%
}


.dropdown.btn-group .dropdown-toggle.btn{
 width: 170px
}

.modal-90w{
  width: 90%;
  max-width: none !important;
}

.contentMessageChat p, 
.contentMessageChat ul, 
.contentMessageChat span, 
.contentMessageChat h1,
.contentMessageChat h2,
.contentMessageChat h3,
.contentMessageChat h4,
.contentMessageChat h5{
  font-size: 1rem;
  padding:0px;
  margin:0px;
  line-height: 1.2rem;
}
.contentMessageChat ul,
.contentMessageChat ol{
  padding-left: 15px;
  padding-top:10px;
}

.contentMessageClient p, 
.contentMessageClient ul, 
.contentMessageClient span, 
.contentMessageClient h1,
.contentMessageClient h2,
.contentMessageClient h3,
.contentMessageClient h4,
.contentMessageClient h5{
  font-size: 1rem;
  padding:0px;
  margin:0px;
  line-height: 1.2rem;
}
.contentMessageClient ul,
.contentMessageClient ol{
  padding-left: 15px;
  padding-top:10px;
}



/*EDITOR CODE*/
.contPreview .contChat{
    overflow: hidden;
    overflow-x: hidden;
    box-shadow: 0 6px 9px 0 rgba(0,0,0,.5);
    max-height: 400px
}

.contPreview{
  max-width: 320px
}

.editorHtml h5{
  margin-bottom: 5px;
  margin-top: 10px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: 5px
}

.editorHtml{
  width: 320px;
  background: #FAFAFA;
  height: 300px
}

.contentEditor{
  border: #ccc 1px solid;
}


/* App */
.container__content {
  width: 440px;
  max-width: 100%;
  padding: 10px;
  text-align: center;
}

.container_editor_area {
  tab-size: 4ch;
  max-height: 400px;
  overflow: auto;
  margin: 1.67em 0;
}

.container__editor {
  font-size: 12px;
  font-variant-ligatures: common-ligatures;
  background-color: #fafafa;
  border-radius: 3px;
}

.container__editor textarea {
  outline: 0;
}

.button {
  display: inline-block;
  padding: 0 6px;
  text-decoration: none;
  background: #000;
  color: #fff;
}

.button:hover {
  background: linear-gradient(45deg, #E42B66, #E2433F);
}

/* Syntax highlighting */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #90a4ae;
}
.token.punctuation {
  color: #9e9e9e;
}
.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #e91e63;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #4caf50;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #795548;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #3f51b5;
}
.token.function {
  color: #f44336;
}
.token.regex,
.token.important,
.token.variable {
  color: #ff9800;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
/*EDITOR CODE*/



.dispFlex{
  display: flex;
}

.selActionOptionSingle{
  margin-bottom: 0px;
  margin-left: 10px
}

.selActionOptionSingle select{
  padding: 0px
}

.inputMultiChoiseItems{
  margin-bottom: 0px
}

.inputMultiChoiseItems .items > div{
  padding-left: 10px;
  padding-right: 10px
}

.inputMultiChoiseItems p{
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #cecece;
  font-size: 0.9rem;
}

.contentInputsResponseForm .form-group{
  margin-bottom: 5px
}

.contentInputsResponseForm{
  padding: 20px;
  padding-top: 0px
}

.contentInputsResponseForm label{
  font-size: 0.9rem;
  margin: 0px;
  padding: 0px
}




/*MODAL*/
.modal-header {
  background: #7c2b8c;
  color:#ffffff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px
}

.modal-footer{
  padding: 5px;
  background: #e8e8e8
}

.modal-header .modal-title h4{
  font-size: 1.3rem
}


.h4, h4{
  font-size: 1.3rem
}

.contentForm{
  /*background: #ffffff;*/
  padding: 10px
}


/**/
.form-group {
   position: relative;
   padding: 15px 0 0;
   margin-top: 10px;
   width: 100%;
}
 .form-control {
   font-family: inherit;
   width: 100%;
   border: 0;
   border-bottom: 2px solid #9b9b9b;
   outline: 0;
   font-size: 1.3rem;
   color: #fff;
   padding: 7px 0;
   background: transparent !important;
   transition: border-color 0.2s;
}
 .form-control::placeholder {
   color: transparent;
}
 .form-control:placeholder-shown ~ .form-label {
   font-size: 1.3rem;
   cursor: text;
   top: 20px;
}
.form-label {
   position: absolute;
   top: 0;
   display: block;
   transition: 0.2s;
   font-size: 1rem;
   color: #9b9b9b;
}
 .form-control:focus {
   padding-bottom: 6px;
   font-weight: 700;
   border-width: 3px;
   border-image: linear-gradient(to right, #11998e, #38ef7d);
   border-image-slice: 1;
}
 .form-control:focus ~ .form-label {
   position: absolute;
   top: 0;
   display: block;
   transition: 0.2s;
   font-size: 1rem;
   color: #11998e;
   font-weight: 700;
}

/* reset input */
 .form-control:required, .form-control:invalid {
   box-shadow: none;
}


/*CHECKBOX CUSTOM*/
.containerCheckbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 0.9rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
  background: #ffffff
}

/* Hide the browser's default checkbox */
.containerCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.containerCheckbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerCheckbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheckbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCheckbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheckbox .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*CHECKBOX CUSTOM*/



/*CUSTOM CHECKBOX*/
.inputGroup {
   background-color: #fff;
   display: block;
   margin: 10px 0;
   position: relative;
}
 .inputGroup label {
   padding: 12px 30px;
   width: 100%;
   display: block;
   text-align: left;
   color: #3c454c;
   cursor: pointer;
   position: relative;
   z-index: 2;
   transition: color 200ms ease-in;
   overflow: hidden;
}
 .inputGroup label:before {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   content: '';
   background-color: #5562eb;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) scale3d(1, 1, 1);
   transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
   opacity: 0;
   z-index: -1;
}

.inputGroup .inputCheckbox:after {
   width: 32px;
   height: 32px;
   content: '';
   border: 2px solid #d1d7dc;
   background-color: #fff;
   background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
   background-repeat: no-repeat;
   background-position: 2px 3px;
   z-index: 2;
   position: absolute;
   right: 30px;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
   transition: all 200ms ease-in;
}

.inputGroup .inputRadio:after {
   width: 32px;
   height: 32px;
   content: '';
   border: 2px solid #d1d7dc;
   background-color: #fff;
   background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
   background-repeat: no-repeat;
   background-position: 2px 3px;
   border-radius: 50%;
   z-index: 2;
   position: absolute;
   right: 30px;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
   transition: all 200ms ease-in;
}

 .inputGroup input:checked ~ label {
   color: #fff;
}
 .inputGroup input:checked ~ label:before {
   transform: translate(-50%, -50%) scale3d(56, 56, 1);
   opacity: 1;
}
 .inputGroup input:checked ~ label:after {
   background-color: #54e0c7;
   border-color: #54e0c7;
}
 .inputGroup input {
   width: 32px;
   height: 32px;
   order: 1;
   z-index: 2;
   position: absolute;
   right: 30px;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
   visibility: hidden;
}

.customCheckbox  ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #11998e;
    /*border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;*/
    background-color: #11998e;
    color: #fff;
    transition: all .2s;
}

.customCheckbox  ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #11998e;

  /*border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;*/
}
