body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#chat{
	height: 100vh;
}

#chat h5{
	margin-bottom: 0px;
	font-size: 1.0rem;
}

#chat span{
	font-size: 0.9rem;
	color: #220b44
}

#chat .form-control{
	color: #220b44 !important;
	font-weight: 500
}

#chat .btn-outline-primary:hover{
	background-color: #593096 !important;
	border-color: #593096 !important;
	color: #fff !important
}

#chat .btn-outline-primary:not(:disabled):not(.disabled).active, 
#chat .btn-outline-primary:not(:disabled):not(.disabled):active, 
#chat .show > .btn-outline-primary.dropdown-toggle{
	background-color: #593096 !important;
	color: #fff !important
}

#chat .btn-outline-primary:not(:disabled):not(.disabled).active:focus, 
#chat .btn-outline-primary:not(:disabled):not(.disabled):active:focus, 
#chat .show > .btn-outline-primary.dropdown-toggle:focus{
	box-shadow: none !important;
}

#chat .btn-outline-primary{
	border-color: #593096 !important;
	color:#593096 !important;
}

.contentSend{
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #ffffff;
	height: 50px;
	/*bottom: 2px;
	position: fixed;*/
}

.contentSend .form-group{
	margin: 0px
}

.contentSend .btnSend{
	position: absolute;
	right: 10px;
	top: 15px;
	z-index: 5
}

.contentSend .form-control{
	border-bottom: none;
	border-left: none;
	border-right: none;
	/*border-top: solid 1px #593096;*/
	height: 50px;
	padding-top: 20px;
}

.contentSend .form-label{
	top: 4px
}

.contentSend .form-control:placeholder-shown ~ .form-label{
	top: 15px
}

.contentSend .form-control:focus ~ .form-label {
  top: 4px
}

.contentSend .form-control.is-invalid, 
.contentSend .was-validated .form-control:invalid{
	background-position: right calc(.375em + 3rem) center !important;
}

.contentSend .input-group .form-label{
	z-index: 5
}

.contentSend .btnSend > button{
	margin:0px;
	padding: 0px;
	border: none;
}

.contentSend .btnSend .btn-outline-secondary:focus, 
.contentSend .btnSend .btn-outline-secondary:hover{
	background: transparent;
	box-shadow: none;
	color: initial;
	border: none;
}

.contentSend .btnSend .btn-outline-secondary.focus, .btn-outline-secondary:focus{
 	background: transparent;
	box-shadow: none;
	color: initial;
	border: none;
}

.contentSend .btnSend .btn-outline-secondary:not(:disabled):not(.disabled).active, 
.contentSend .btnSend .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle{
	background: transparent;
	box-shadow: none;
	color: initial;
	border: none;
}

.contentResponse{
	overflow-y: auto;
	background: #ffffff;
	margin-bottom: 10px;
}

.contentSend .btn-group-lg > .btn, .btn-lg{
	border-radius: 0px !important;
	font-size: 1.1rem !important;
}

.contentSend .form-control-lg{
	border-radius: 0px !important;
	font-size: 1.1rem !important;
}

.contentResponse .contentMessageChat{
	width: 100%;
}

.contentResponse .contentMessageChat > div{
	width: 90%;
	float: left;
	background: #f4edff;
	margin-left: 10px;
	padding: 8px;
	margin-top: 10px;
	/*border-radius: 3px;*/
	border: 1px solid #593096;
}


.contentResponse .contentMessageClient{
	 float: left;
	 clear: both;
	 width: 100%
}


.contentResponse .contentMessageChat{
	 float: left;
	 clear: both;
	 width: 100%
}


.contentResponse .contentMessageChat .contentMsg{

}

.contentResponse .contentMessageClient{
}

.contentResponse .contentMessageClient .content{
	float: right;
	width: 90%;
	background: #f0ffef;
	margin-right: 10px;
	padding: 8px;
	margin-top: 10px;
	/*border-radius: 5px;*/
	border: solid 1px #3eb233;
	min-height: 60px
}


.contentResponse .contentMessageClient .contentUser,
.contentResponse .contentMessageChat .contentUser
{
	height: 20px
}

.contentResponse .contentMessageClient .contentUser h5,
.contentResponse .contentMessageChat .contentUser h5
{
	float: left;
	text-transform: uppercase;
	font-size: 0.8rem !important;
	font-weight: 700;
	color: #371866
}

.contentResponse .contentMessageClient .contentUser ._created,
.contentResponse .contentMessageChat .contentUser ._created
{
	float: right;
	font-size: 0.6rem !important;
	font-weight: 500;
	text-transform: uppercase;
	opacity: 0.8
}



.contHello{
	padding: 50px
}

.contentBtn button{
	width: 100%
}



@media only screen and (min-width: 768px) {
	.contentResponse{
		/* Firefox */
		height: -moz-calc(100% - 107px);
		/* WebKit */
		height: -webkit-calc(100% - 107px);
		/* Opera */
		height: -o-calc(100% - 107px);
		/* Standard */
		height: calc(100% - 107px);
	}
}

@media only screen and (max-width: 414px) {
	.contentResponse{
		/* Firefox */
		height: -moz-calc(100% - 107px);
		/* WebKit */
		height: -webkit-calc(100% - 107px);
		/* Opera */
		height: -o-calc(100% - 107px);
		/* Standard */
		height: calc(100% - 107px);
		/*padding-top: 40px*/
	}
}

@media only screen and (max-width: 320px) {
	.contentResponse{
		/* Firefox */
		height: -moz-calc(100% - 107px);
		/* WebKit */
		height: -webkit-calc(100% - 107px);
		/* Opera */
		height: -o-calc(100% - 107px);
		/* Standard */
		height: calc(100% - 107px);
		/*padding-top: 40px*/
	}
}



.contChat{
	height: 100%;
	background: #ffffff
}


.selectSchedule .btn-group-sm > .btn, 
.selectSchedule .btn-sm{
	padding: 5px;
	font-size: 0.8rem;
	margin-bottom: 4px;
	width: 100%
}

.selectSchedule .day{
	border-bottom: 1px solid #ced4da;
	margin-bottom: 5px;
	text-align: center;
	color: #6c757d
}

.selectSchedule .year{
	text-align: center;
	padding: 2px;
	font-weight: 700;
	color: #6c757d
}

.selectSchedule .carousel-control-next, 
.selectSchedule .carousel-control-prev{
	align-items:initial;
	top: 3px
}

.selectSchedule .carousel-indicators{
	display: none;
}

.selectSchedule .list-group-item{
	padding: 5px;
	font-size: 0.8rem;
	text-align: center;
	font-weight: 700;
}

.selectSchedule .btn-group-toggle > .btn, 
.selectSchedule .btn-group-toggle > .btn-group > .btn{
	padding: 5px;
	font-size: 0.8rem;
	text-align: center;
	color: #6c757d
}


.selectSchedule .btn-secondary.focus, 
.selectSchedule .btn-secondary:focus{
	color: #fff;
	box-shadow: none;
}

.selectSchedule .btn-secondary:hover{
	color: #fff;
}

.selectSchedule .btn-secondary{
	background: #fff;
	color: #6c757d
}

.selectSchedule .btn{
	border-radius: 0px;
	border: solid 1px #6c757d;
}

.selectSchedule .carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%6c757d' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.selectSchedule .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%6c757d' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.errorMessage{
	color: #dc3545 !important
}

.btn.btn-secondary.is-invalid{
	border: solid 1px #dc3545;
	color: #dc3545
}

.inputGroup.is-invalid{
	color: #dc3545;
	border-bottom: solid 1px #dc3545;
}

.is-invalid{
	color: #dc3545 !important;
	font-size: 0.8rem !important
}

.contentResponse .contentMessageChat .list-group .list-group-item{
	/*border: 1px solid #593096;*/
	
}

.contChat .contentMessageChat .list-group-item{
 /*margin-bottom: 3px*/
}

.contChat .options{
	text-align: right;
	padding-right: 20px;
}


.contChat .options .btn-outline-secondary{
	border: solid 1px #220b44;
	border-bottom: 0px;
	border-radius: 0px;
	padding: 0px;
	font-size: 0.8rem
}



.endMessages{
	height: 2px;
	clear: both;
}

.contentUser{
	position: relative;
}

.contentResponse .contentMessageChat .contentUser ._created{
	position: absolute;
	right: 60px;
}

.contentResponse .contentMessageChat .contentUser .options-response{
	font-size: 40px !important;
	position: absolute;
	top: 0px;
	right: 5px;
	padding: 0px;
	margin: 0px;
	line-height: 12px;
	cursor: pointer;
}


.form-chat-send .btn.btn-outline-secondary.btn-lg{
	color: #593096;
}

